@model IEnumerable<Jalgratta_Eksam.Models.Eksam>

@{
    ViewData["Title"] = "Teooria";
}

<h1>Teooria</h1>

<p>
    <a asp-action="Registreeri">Registreeri</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eesnimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perekonnanimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teooria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Eesnimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perekonnanimi)
            </td>
            <td>
                <form asp-action="TeooriaTulemus">
                    <input type="hidden" value="@item.ID" name="@nameof(item.ID)" />
                    <div class="d-flex">
                        <div class="form-group">
                            <input type="number" value="@item.Teooria" class="form-control" name="@nameof(item.Teooria)" min="-1" max="10" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Salvesta" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
